<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weixin.request.dao.RealmDao">

    <resultMap type="com.weixin.request.entity.Realm" id="TIpListResult">
        <result property="id"    column="ID"    />
        <result property="name"    column="NAME"    />
    </resultMap>

    <sql id="selectTIpListVo">
        select ID, NAME from realm;
    </sql>

    <select id="selectAll" parameterType="com.weixin.request.entity.Realm" resultMap="TIpListResult">
        <include refid="selectTIpListVo"/>
    </select>
</mapper>
